html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;

    font: 400 1rem var(--body-font);

    background-color: var(--body--color);
}

.title{
    font: 700 1.875rem var(--title-font);
    color: var(--title-color);
}

.section .title{
    margin-bottom: 1rem;
}

.section .subtitle{
    font-size: var(--subtitle-font-size);
}

.section header{
    margin-bottom: 4rem;
}

.section header strong {
    color: var(--green);
}

p{
    font: 400 1rem var(--body-font);
    color: var(--text-color);
}

.button a{

    font: 400 1rem var(--body-font);
    color: var(--white);
    
}

.button{
    width: 15rem;
    height: 3.5rem;
    padding: 0 0.2rem;
    

    background: var(--green);

    border: none;
    border-radius: 0.25rem;

    transition: background 0.3s;
}

  
  .button:hover {
    background: var(--lightGreen);
  }


  .divider-1{
    height: 1px;
    background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
  }

  .divider-2{
    height: 1px;
    background: linear-gradient(
        270deg, 
        rgba(204, 244, 230, 0.34),
        #69B99D)
  }

