/* section{
  padding-top: 10rem;

} */

.component-section-title{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0;
  
}
.component-section-title .section-title{
  width: fit-content;
      /*This is making the text stay in 1 line if we remove the text will break line*/
  white-space: nowrap;

  font-size: 2rem;

  margin-right: 2rem;
}

  .section-title h1{
    text-transform: uppercase;
  }
  
  .line{
    width: 100%;
    height: .2rem;
    background: black
  }

  .card-title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;

    margin-bottom: 3rem;

  }

  .challenges-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    list-style: none;
  }


/************* L A PT O P Large - 1440 x 1524 **************/




  /* ******************* T A B L E T ********************/
/* @media (min-width: 768px){

  .container .component-section-title{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
  } */

  /* .component-section-title .section-title{

    width: fit-content; */
    /*This is making the text stay in 1 line if we remove the text will break line*/
     /* white-space: nowrap;


    margin-right: 3rem;
  }

  .line-small{
    width: 100%;
  }

} */
