/*

GitHub Commands

- git status -> It shows if there is something to be comminted or any changes in the code
- git add . -> It will add all files into git
- git commit -m "Say something" -> It will commint to my local Repository
- git push origin main - > It will send the changes to GitHub. The word origin is created by GitHub when you clone a project

*/


/*NOTES

- I have added the skill section, icons and icons title
- I have changed the font setup to 62.5%

---- TO DO 05/02 ----
- Review the font size --- done
- Adjust the sekill section --- done

---- TO DO 12/02 ----

- Begin to work on footer --- done
- Begin to work on desktop version -- I will do it after finish allsections for mobile

---- TO DO 19/02 ----

- Begin to work on desktop version -- on Hold. Waiting to finish mobile sections
- Begin to work on first sections after the home for mobile -- done

---- TO DO 04/03  ----

- Begin to work on desktop version -- on Hold. Waiting to finish mobile sections
- Begin to work on section spaces (Try to find how to apply spaces between 
  sections depending on the view size) -- done
- Apply Moving effect when the section chnges --done


---- TO DO  ----
- Begin to work on desktop version -- on Hold. Waiting to finish mobile sections
- Finalize to adjust the scroll efects. I need to define the size of the home section
- Start doing the section poertfolios

*/

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

html{
  width: 100vw;
	height: 100vh;
}

body{
  position: relative; 
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bgPaleBlue);

  display: flex;
  flex-direction: column;

}

.header .scroll{
  box-shadow: 0px 0px 12px 0px rgba(129,129,129,0);
}

/*
.init-hidden{
  opacity: 0;
  transition: opacity 3.5s linear;
}

.init-hidden-off{
  opacity: 1;
}*/

/*-------------------- H E A D E R --------------------*/

header{
  
  position: relative;
}

.nav-bar{
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px 5px 10px;
}

.linkedin-container{
  display: none;
  width: 40px;
  height: 40px;
}

.linkedin{
  width: 100%;
}

.btn-close{
  display: none;
  width: 4rem;
  height: 4rem;
}
.cross{
  width: 100%;
}

/*--------------- H E A D E R   M O B I L E ---------*/

/*Web Borowser Menu*/
.container-menu-lg{
   display: none
}

.container-menu-mobile{
  width: 6rem;
  height: 6rem;

  border-radius: 50%;
  border: solid var(--gray) 3px;

  display: flex;
  align-items: center;
  justify-content: center;

}

/*
.menu-icon{
  width: 8rem;
  height: 8rem;

  background-color: var(--bgPaleBlue);

  border-radius: 50%;
  border: solid var(--gray) 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}*/

.text-menu{
 font-size: 2rem;
 font-weight: 900;

 width: fit-content;
}

.mobile-menu{
  position: absolute;
  top: 70px;
  right: 0px;
}


.profile-picture-small{
  background-color: gray;
  width: 130px;
  height: 130px;
}

.mobile-list{
  background-color: var(--bgPaleBlue);
  width: 250px;
  height: 550px;

  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
  padding-right: 20px;
}


.active{   /*toggle menu*/
  display: flex;
}

.profile-picture{
  margin-bottom: 45px;
}

.nav-item{
  padding-bottom: 40px;
}

.nav-link{
  text-decoration: none;

  font-size: 20px;
  color: black;

  font-weight: bold;
}

/*-------------------- MAIN --------------------*/

main{
  background-color: var(--bgPaleBlue);

  max-width: 1400px;
  margin: 0 auto;

  /* padding: 5px; */

  /*Im using this property to add margin to the top*/
  margin-block-start: 1.5rem; 
  
}

.section{
  width: 100%;
  padding: 10rem 0;
}

.profile-picture-big{
  display: none;
}

.container-content{
  width: 100%;
}

.container-content h1{
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .2rem;

  margin-bottom: 2.68rem;
}

.small-line{
  width: 9rem;
  border: 3px black solid;

  margin-bottom: 1.68rem;
}

.container-content h2{
  font-weight: normal;
  font-size: 2.5rem;

  margin-bottom: 3.93rem;
}

.about-me-brief{
  display: none;
}

.skills{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .7rem;

  margin-bottom: 8rem;
}

.skills p{
  font-size: 1.5rem;
  font-weight: 700;
}

.skills ul{
  display: grid;
  grid-template-columns: repeat(8, 4.5rem);
  /*
  display: flex;
  gap: 1.6rem;*/
}

.skills ul li{
  width: 3rem;
  height: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: .8rem;

}

.skills ul li p{
  font-size: .8rem;
  font-weight: 700;
}

.skill-description{
  font-weight: bold;
}

.skills-icon{
  width: 18px;
  height: 18px;
}

.btn{
  height: 3.3rem;
  width: 10.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
}

.btn h1{
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0;

  margin: 0;
}
/*-------------------- ABOUT ME --------------------*/

.mobile-hidden{
  display: none;
}

/*-------------------- EDUCATION / EXPERIENCE --------------------*/

.container-lg-edu-expe{
  display: none;
}

.card-title{
  width: 30rem;

  text-align: center;
  text-transform: uppercase;

  background-color:var(--gray);

  padding: .9rem 0;

  border-radius: .5rem;

  margin-bottom: 1.5rem;
}

.card-sub-title{
  font-weight: 700;
  font-size: 1.2rem;
}

.card-description{
  font-weight: 400;
  font-size: 1.2rem;
}

/*-------------------- PORTFOLIO --------------------*/

.img-bk-portfolio{
  background-color: #E9EEF2;
  width: 34rem;
  height: 30rem;

  padding: 1rem;

  border-radius: 5px;
}

.img-thumb{
  width: 100%;
  height: 100%;
  background-color: white;
}


.card{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.portfolio-content{
  width: 34rem;

  display: flex;
  flex-direction: column;
}

.portfolio-title{
  font-size: 1.2rem;
  font-weight: 700;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.portfolio-description{
  font-size: 1.2rem;
  font-weight: 400;

  line-height: 1.8rem;

  margin-bottom: 3rem;
}

.tecnologies{
  width: 100%;

  margin-bottom: 3rem;
}

.tech-list{
  display: flex;
  gap: 2.5rem;
  
}

.container-btn{
  display: flex;
  gap: 1.6rem;
}


/*-------------------- FOOTER --------------------*/

footer{
  width: 100%;
  position: fixed;
  bottom: 1rem;
}
.container-menu-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  
}
.btn-menu{
  max-width: 76rem;
  height: 4rem;

  display: grid;
  grid-template-columns: 5rem 5rem .3rem  12rem 4.5rem;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center; 
  justify-items: center;
  column-gap: 5px;

  border: 1px solid black;
  border-radius: 25px;

}

.btn-menu-li{
  font-size: 1rem;
}

.btn-menu .actived{
  display: none;
}

.vertical-line{
  border: 2px var(--gray) solid;
}






/*======  MEDIA QUERIES  ======*/

/* extra large devices: >= 1200px*/

/************* L A PT O P Large - 1440 x 1524 **************/
@media (min-width: 1440px){

  body{
    width: 100vw;

    display: flex;
    align-items: center;
  }

/*-------------------- HEADER --------------------*/

  header{
    background-color: aquamarine;
    width: 100%;
    /* position: static; */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .nav-bar{
    width: 70%;
    height: 5.5rem;
  }

  .logo h1{
    font-size: 2.5rem;
  }
  .container-menu-mobile{
    display: none;
  }
  .container-menu-lg{

    width: 37.5rem;
    height: 100%;

    position: static;

    display: flex;
    align-items: center;

    border: none;
  }

  .container-menu-list{
    width: 37.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 8rem;
  }

  .nav-link{
    font-size: 2rem;
  }

  /*-------------------- SECTION INFORMATION --------------------*/

   main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
  } 

  .section{
    width: 100%;

    margin-bottom: 2rem;
  }

  .container-elements{
    width: 100%;
    height: 53rem;

    display: flex;
    gap: 3rem;
    
  } 

  .container-elements .profile-picture-big{
    background-color: aqua;
    display: block;    

    width: 40%;
  }

  .container-content-info{
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .container-content{
    background-color: azure;
    width: 100%;

  }

  .container-content h1{
    font-size: 8rem;
  }

  .small-line{
    width: 13rem;
    border: 4px black solid;
  
    margin-bottom: 1.68rem;
  }
  
  .container-content h2{
    font-weight: normal;
    font-size: 4.5rem;
  
    margin-bottom: 3.93rem;
  }

  .container-content h2{
    margin-bottom: 2rem;
  }

  .about-me-brief{
    display: inline;

    font-size: 2.2rem;
    font-weight: 400;

    line-height: 2.8rem;

    margin-bottom: 3rem;
  }

  .skills{
    margin-bottom: 0;
  }

  
.skills p{
  font-size: 2.5rem;
}

.skills ul{
  grid-template-columns: repeat(8, 8.0rem);
}

.skills ul li{
  width: 7rem;
  height: 7rem;

  gap: 1.8rem;

}

.skills-icon{
  width: 38px;
  height: 38px;
}

.skills ul li p{
  font-size: 1.3rem;
  font-weight: 700;
}

  .btn{
    display: none;
  }
 

 

/*-------------------- ABOUT ME --------------------*/

.mobile-hidden{
  display: flex;
}

.container-content-aboutme{
  width: 100%;
  display: flex;
}

.aboutme-description{
  width: 50%;

  font-size: 1.8rem;
  line-height: 2.8rem;
}

.aboutme-info-list{
  width: 50%;
  padding-left: 5rem;

  font-size: 1.8rem;
  line-height: 5.8rem;
}

.aboutme-info-list span{
  font-weight: bold;
}

/*-------------------- EDUCATIONAL / EXPERIENCE --------------------*/

.container-lg-edu-expe{
  width: 100%;
  display: flex;
  gap: 5rem;
}






}








/* ******************* T A B L E T ********************/
@media (min-width: 768px){

  body{
    width: 100vw;

    display: flex;
    align-items: center;
  }
/*-------------------- HEADER --------------------*/

  header{
    background-color: aquamarine;
    width: 100%;
    /* position: static; */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .nav-bar{
    width: 70%;
    height: 5.5rem;
  }

  .logo h1{
    font-size: 2.5rem;
  }
  .container-menu-mobile{
    display: none;
  }
  .container-menu-lg{

    width: 37.5rem;
    height: 100%;

    position: static;

    display: flex;
    align-items: center;

    border: none;
  }

  .container-menu-list{
    width: 37.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 8rem;
  }

  .nav-link{
    font-size: 2rem;
  }

  /*-------------------- SECTION INFORMATION --------------------*/

   main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
  } 

  .section{
    width: 100%;

    margin-bottom: 2rem;
  }

  .container-elements{
    width: 100%;
    height: 43rem;

    display: flex;
    gap: 3rem;
    
  } 

  .profile-picture-big{
   display: none;
  }

  .container-content-info{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .container-content{
    background-color: azure;
    width: 100%;

  }

  .container-content h1{
    font-size: 5rem;
  }

  .small-line{
    width: 8rem;
    border: 2px black solid;
  
    margin-bottom: 1.68rem;
  }
  
  .container-content h2{
    font-weight: normal;
    font-size: 2.5rem;
  
    margin-bottom: 3.93rem;
  }

  .container-content h2{
    margin-bottom: 2rem;
  }

  .about-me-brief{
    display: inline;

    font-size: 1.8rem;
    font-weight: 400;

    line-height: 2.8rem;

    margin-bottom: 3rem;
  }

  .skills{
    margin-bottom: 0;
  }

  
.skills p{
  font-size: 2rem;
}

.skills ul{
  grid-template-columns: repeat(8, 7.0rem);
}

.skills ul li{
  width: 7rem;
  height: 7rem;

  gap: 1.8rem;

}

.skills-icon{
  width: 18px;
  height: 18px;
}

.skills ul li p{
  font-size: 1.3rem;
  font-weight: 700;
}

  /*-------------------- SECTION ABOUT ME --------------------*/

.mobile-hidden{
  display: flex;
}


.container-content-aboutme{
  width: 100%;
  display: flex;
}

.aboutme-description{
  width: 50%;

  font-size: 1.8rem;
  line-height: 2.8rem;
}

.aboutme-info-list{
  width: 50%;
  padding-left: 5rem;

  font-size: 1.8rem;
  line-height: 5.8rem;
}

.aboutme-info-list span{
  font-weight: bold;
}

.btn{
  display: none;
}
 
}